<header class="page-header">
	<h3 class="title">My Tasks</h3>
	<a routerLink="add" class="btn btn-primary">Add Task</a>
</header>

<app-tasks-filtration
	(filtrationValue)="onFiltration($event)"
></app-tasks-filtration>

<ng-container *ngIf="isLoading; else notLoadingTemp">
	<app-spinner></app-spinner>
</ng-container>
<ng-template #notLoadingTemp>
	<ng-container *ngIf="tasks?.length">
		<p class="note">Note: You can arrange your tasks by drag & drop..</p>

		<div cdkDropList (cdkDropListDropped)="drop($event)">
			@for (task of tasks; track task) {
			<div cdkDrag>
				<app-task-card
					[task]="task"
					(deleteTask)="onDelete($event)"
				></app-task-card>
			</div>
			}
		</div>
	</ng-container>

	<app-no-data *ngIf="!tasks?.length"></app-no-data>
</ng-template>
