:host {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 120px - 1rem);
	min-height: 300px;
}

.home-content {
	text-align: center;

	.intro {
		line-height: 1.65;
		margin-bottom: 2rem;
	}

	.brand {
		color: var(--bs-primary);
	}
}
