<header class="main-header fixed-top d-flex align-items-center header-scrolled">
	<div class="container d-flex align-items-center justify-content-between">
		<h1 class="logo">
			<a class="navbar-brand" routerLink="/"> AB Tasks </a>
		</h1>
		<nav class="navbar">
			<ul>
				<li>
					<a
						class="nav-link"
						routerLink="/"
						routerLinkActive="active"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						Home
					</a>
				</li>
				<li>
					<a
						class="nav-link"
						[routerLink]="['/tasks']"
						routerLinkActive="active"
					>
						My Tasks
					</a>
				</li>
				<li>
					<ng-container *ngIf="currentUser; else loginTemp">
						<button class="btn btn-danger" (click)="onLogout()">
							Logout
						</button>
					</ng-container>
					<ng-template #loginTemp>
						<button class="btn btn-primary" (click)="onLogin()">Login Now</button>
					</ng-template>
				</li>
			</ul>
		</nav>
		<!-- .navbar -->
	</div>
</header>
