:host {
	display: block;
	background: #fff;
	border-radius: 8px;
	padding: 16px;
	max-width: 500px;
}

.dialog {

	&-title {
		margin-bottom: 1rem;
	}

	&-actions {
		display: flex;
		justify-content: flex-end;

		button + button {
			margin-inline-start: .5rem;
		}
	}
}